<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @post.picture.url if @post.picture.url.present? %>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '投稿一覧', posts_path %>
